/* .main {
  position: relative;
  text-align: center;
  padding-top: 0;
  padding: 80px 0;
}



.image-bg {
  width: 100%;
  height: auto;
}

.first-part h1 {
  font-size: 2.5rem;
  margin: 20px 0;
} */


.main_body{
  background-color: black;
  width: 100vw
  /* max: width 150px; */
  /* max-width: 1500px; */
  /* width: 100%; */
}
.recruiters-container {
  background: black; /* A slightly darker green background color for recruiters container */
  color: #fff; /* Text color */
  padding: 40px 0;
}

/* You can add more styles as needed */


/* h1{
    font-size: 50px;
    text-align: center;
} */

li{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}
.image{
    width: 100%;

}
.main{
    /* height: 400px; */
    width: 100%;
}
@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
.first-part h1{
  position: absolute;
  display: flex;
  top: 2%;
  left: 21%;
  font-size: 80px;
  padding: 80px 0;
  z-index: 1;
  color: #56362e;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* animation: fadeIn 1s ease-in-out; */
  animation: zoomIn 1s ease-in-out; /* Zoom in */
      animation-fill-mode: forwards;
}

.delay_zoom_out {
  animation: zoomOut 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s; /* Delay the zoom-out animation */
}

#loop{
  display: flex;
  position: absolute;
  top: 23%;
  height: 40%;
  width: 100%;
  font-size: 70px;
  white-space: nowrap;
  font-family: gilroy;
}
#loop>h1{
  font-weight: bolder;
  animation-name: anim;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: white;
}
#loop>h1>span{
  -webkit-text-stroke: 1px black;
  /* color: transparent; */
  font-weight: 500;
}
@keyframes anim{
  0%{
      transform: translateX(0%);
  }
  100%{
      transform: translateX(-100%);
  }
}
#placement_data{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.location{
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe{
  width: 100%;
}
.member{
  display: flex;
  height: 300%;
  width: 100vw;
  /* width: 29%; */
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.started{
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: black;
  /* display: flex; */
  /* align-items: flex-end; */
  /* flex-direction: row; */
  /* justify-content: center; */
}

.started h1{
  color: white;
  text-align: center;
  font-size: 7rem;
}

.regButton{
left: 50%;
right: 50%;
margin-left: 44%;
background-color: white;
border-radius: 10px;
font-size: 1.8rem;
color: black;
}